* {
    box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Class with image */
.notecard {
    background-color: white;
    position: relative;
    height: 200px;
    width: 90%;
    margin: 0 auto;
    border: solid black 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.emptyColumn {
    border: 1px black solid;
    background-color: white;
    float: left;
    width: 33.33%;
    height: 900px;
    padding: 10px;
}

.columnWhileHeld {
    border: solid rgb(0, 0, 0) 4px;
}

.hovered {
    background: rgba(151, 151, 151, 0.425);
    border-style: dashed;
}

.invisible {
    display: none;
}

.mainBody {
    margin: 20px;
}

.notecardText {
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
}

.notecardText:hover {
    cursor: text;
    text-shadow: 2px 2px 5px red;
}
